body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #80BCBD; /* Background */
  max-width: 75%;
  align-items: center;
  color: #F9F7C9; /* Text Color */
}

hr {
  border: 1px solid #4527A0;
  margin: 20px 0;
}

header, nav, section, form, #orderSummary {
  background-color: #AAD9BB; /* Forms and Sections */
  border-radius: 5px;
  color: #F9F7C9; /* Text Color */
  text-align: center;
  padding: 1em;
  margin: 20px;
}

nav a, #logo a {
  color: #F9F7C9; /* Text Color */
  text-decoration: none;
  margin: 0 1em;
  font-weight: bold;
}

#logo a {
  color: #D5F0C1; /* Banners */
  font-size: 1.5em;
}

section, form, #orderSummary {
  padding: 2em;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #D5F0C1; /* Forms and Inputs */
  border-radius: 5px;
  background-color: #D5F0C1; /* Forms and Inputs */
  box-sizing: border-box;
}

button {
  background-color: #D5F0C1; /* Buttons */
  color: #F9F7C9; /* Text Color */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #F9F7C9; /* Hover effect */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #D5F0C1; /* Tables */
  padding: 10px;
  text-align: center;
}

th {
  background-color: #D5F0C1; /* Tables */
  color: #F9F7C9; /* Text Color */
}

input {
  width: 50px;
  text-align: center;
}

#finalTotal {
  font-weight: bold;
}

#orderForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin: auto;
}
