body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  max-width: 75%;
  align-items: center;
}

hr {
  border: 1px solid #4527A0;
  margin: 20px 0;
}

header, nav, section, form, #orderSummary {
  background-color: #00796B; /* Green */
  border-radius: 5px;
  color: #FFD700; /* Gold */
  text-align: center;
  padding: 1em;
  margin: 20px;
}

nav a, #logo a {
  color: #4527A0; /* Purple */
  text-decoration: none;
  margin: 0 1em;
  font-weight: bold;
}

#logo a {
  color: #FFD700; /* Gold */
  font-size: 1.5em;
}

section, form, #orderSummary {
  padding: 2em;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #4527A0; /* Purple */
  border-radius: 5px;
}

button {
  background-color: #00796B; /* Green */
  color: #FFD700; /* Gold */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #004C45; /* Darker Green for hover effect */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #4527A0; /* Purple */
  padding: 10px;
  text-align: center;
}

th {
  background-color: #00796B; /* Green */
  color: #FFD700; /* Gold */
}

input {
  width: 50px;
  text-align: center;
}

#finalTotal {
  font-weight: bold;
}

#orderForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin: auto;
}
