body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  max-width: 75%;
}

hr {
  border: 1px solid #4527A0;
  margin: 20px 0;
}

header, nav, section, form, #orderSummary {
  background-color: #4527A0;
  border-radius: 5px;
  color: #FFFFFF;
  text-align: center;
  padding: 1em;
  margin: 20px;
}

nav a, #logo a {
  color: #FFFFFF;
  text-decoration: none;
  margin: 0 1em;
  font-weight: bold;
}

#logo a {
  color: #FFD700;
  font-size: 1.5em;
}

section, form, #orderSummary {
  padding: 2em;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
}

button {
  background-color: #4527A0;
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #00796B;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #000000;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #4527A0;
  color: #FFFFFF;
}

input {
  width: 50px;
  text-align: center;
}

#finalTotal {
  font-weight: bold;
}
